.DS_Store
*.log
.cache
.inc-builds
.vscode/
node_modules/
packages/example/public/
packages/example/.wordpress-graphql-cache/
packages/example/.cache/
packages/example/public/
packages/example/gatsby-config.js
packages/source/build/
